@using Evaluation.Models.ViewModels
<h2>پرسش مرکز</h2>

@(Html.DevExtreme().DataGrid<QuestionSectionViewModel>()
	.ShowBorders(true)
	.RtlEnabled(true)
	.RowAlternationEnabled(true)
	.NoDataText("بدون اطلاعات")
	.RemoteOperations(true)
	.OnEditorPreparing("onEditorPreparing")
	.Editing(e =>
	{
		e.Mode(GridEditMode.Row);
		e.AllowAdding(true);
		e.AllowUpdating(true);
		e.AllowDeleting(true);
		e.Popup(p =>
		{
			p.RtlEnabled(true);
			p.CloseOnOutsideClick(true);
		});

		e.Texts(t =>
		{
			t.DeleteRow("حذف");
			t.EditRow("تغییر");
			t.AddRow("اضافه کردن");
			t.SaveRowChanges("ثبت");
			t.CancelRowChanges("انصراف");
			t.ConfirmDeleteMessage("این رکورد حذف شود؟");
		});
	})
	.Sorting(s =>
	{
		s.AscendingText("مرتب کردن صعودی");
		s.DescendingText("مرتب کردن نزولی");
		s.ClearText("حذف مرتب کردن");
	})
	//.DataSource(d => d.Mvc().Controller("QuestionSections").LoadAction("Get"))
	.DataSource(d => d.Array().Data(TestData.QuestionSections))
	.Columns(columns =>
	{
		columns.AddFor(m => m.QuestionDetailId).Caption("نام")
			.Lookup(lookup => lookup
				.DataSource(d => d.Mvc().Controller("QuestionDetails").LoadAction("Get").Key("Id"))
				.DisplayExpr("Title")
				.ValueExpr("Id")
			);
		columns.AddFor(m => m.CenterId).Caption("مرکز")
			.SetCellValue("setCenterValue")
			.Lookup(lookup => lookup
				.DataSource(d => d.Mvc().Controller("Centers").LoadAction("Get").Key("Id"))
				.DisplayExpr("Title")
				.ValueExpr("Id")
			);
		columns.AddFor(m => m.SectionId).Caption("بخش")
			.Lookup(lookup => lookup
				.DataSource("getSections")
				.DisplayExpr("Title")
				.ValueExpr("Id")
			);
	})
	)

@section Script
{
	<script type="text/javascript">
		const onEditorPreparing = (e) => {
			if (e.parentType === "dataRow" && e.dataField === "SectionId") {
				e.editorOptions.disabled = (typeof e.row.data.CenterId !== "number");
			}
		}
		const getSections = (options) => {
			return {
				store: DevExpress.data.AspNet.createStore({
					key: "Id",
					loadUrl: '@Url.Action("Get", "Sections", new { httproute = true })'
				}),
				filter: options.data ? ["CenterId", "=", options.data.CenterId] : null
			};
		}
		const setCenterValue = (rowData, value) => {
			rowData.CenterId = value;
			rowData.SectionId = null;
		}
	</script>
}