@using Evaluation.Models.ViewModels
<h2>مرکز</h2>

@(Html.DevExtreme().DataGrid<CenterViewModel>()
	.ShowBorders(true)
	.RtlEnabled(true)
	.RowAlternationEnabled(true)
	.NoDataText("بدون اطلاعات")
	.Editing(e =>
	{
		e.Mode(GridEditMode.Row);
		e.AllowAdding(true);
		e.AllowUpdating(true);
		e.AllowDeleting(true);

		e.UseIcons(true);

		e.Texts(t =>
		{
			t.DeleteRow("حذف");
			t.EditRow("تغییر");
			t.AddRow("اضافه کردن");
			t.SaveRowChanges("ثبت");
			t.CancelRowChanges("انصراف");
			t.ConfirmDeleteMessage("این رکورد حذف شود؟");
		});
	})
	.Sorting(s =>
	{
		s.AscendingText("مرتب کردن صعودی");
		s.DescendingText("مرتب کردن نزولی");
		s.ClearText("حذف مرتب کردن");
	})
	.DataSource(d => d.Mvc().Controller("Centers").LoadAction("Get"))
	.Columns(columns =>
	{
		columns.AddFor(m => m.Title).Caption("عنوان");
		columns.AddFor(m => m.Address).Caption("آدرس");
	})
	)