@using MD.PersianDateTime.Standard
<h2>کارمند</h2>

@(Html.DevExtreme().DataGrid<VwEmployee>()
	.ShowBorders(true)
	.RtlEnabled(true)
	.RowAlternationEnabled(true)
	.NoDataText("بدون اطلاعات")
	.Editing(e =>
	{
		e.Mode(GridEditMode.Popup);
		e.AllowAdding(true);
		e.AllowUpdating(true);
		e.AllowDeleting(true);
		e.UseIcons(true);
		e.Popup(p =>
		{
			p.RtlEnabled(true);
			p.CloseOnOutsideClick(true);
		});

		e.Texts(t =>
		{
			t.DeleteRow("حذف");
			t.EditRow("تغییر");
			t.AddRow("اضافه کردن");
			t.SaveRowChanges("ثبت");
			t.CancelRowChanges("انصراف");
			t.ConfirmDeleteMessage("این رکورد حذف شود؟");
		});
	})
	.Sorting(s =>
	{
		s.AscendingText("مرتب کردن صعودی");
		s.DescendingText("مرتب کردن نزولی");
		s.ClearText("حذف مرتب کردن");
	})
	.FilterRow(filterRow => filterRow
		.Visible(true)
		.ApplyFilter(GridApplyFilterMode.Auto)
	)
	.DataSource(d => d.Mvc().Controller("Employees")
		.LoadAction("Get")
		.InsertAction("Insert")
		.UpdateAction("Update")
		.DeleteAction("Delete")
		.Key("Id"))
	.Columns(columns =>
	{
		columns.AddFor(m => m.Nid).Caption("کد ملی").Width(120);

		columns.AddFor(m => m.FirstName).Caption("نام");
		columns.AddFor(m => m.LastName).Caption("نام خانوادگی");

		columns.AddFor(m => m.HireDate).Caption("تاریخ استخدام")
			.Width(110)
			.EditCellTemplate(new TemplateName("DateInputTemplate"));

		columns.AddFor(m => m.PositionId).Caption("سمت")
			.Lookup(lookup =>
				lookup.DataSource(d => d.Mvc().Controller("Positions").LoadAction("Get").Key("Id"))
					.DisplayExpr("Title")
					.ValueExpr("Id")
			)
			.EditorOptions(new {placeholder = "انتخاب کنید..."});

		columns.AddFor(m => m.ManagerLevel0).Caption("مدیر سطح 0")
			.Lookup(lookup =>
				lookup.DataSource(d => d.Mvc().Controller("Managers").LoadAction("Get").Key("Id"))
					.DisplayExpr("EmployeeDisplay")
					.ValueExpr("Id")
			)
			.EditorOptions(new {placeholder = "انتخاب کنید..."});

		columns.AddFor(m => m.ManagerLevel1).Caption("مدیر سطح 1")
			.Lookup(lookup =>
				lookup.DataSource(d => d.Mvc().Controller("Managers").LoadAction("Get").Key("Id"))
					.DisplayExpr("EmployeeDisplay")
					.ValueExpr("Id")
			)
			.EditorOptions(new {placeholder = "انتخاب کنید..."});

		columns.AddFor(m => m.ManagerLevel2).Caption("مدیر سطح 2")
			.Lookup(lookup =>
				lookup.DataSource(d => d.Mvc().Controller("Managers").LoadAction("Get").Key("Id"))
					.DisplayExpr("EmployeeDisplay")
					.ValueExpr("Id")
			)
			.EditorOptions(new {placeholder = "انتخاب کنید..."});
	})
	)

@using (Html.DevExtreme().NamedTemplate("DateInputTemplate"))
{
	@(Html.DevExtreme().TextBox()
		//.RtlEnabled(true)
		.Value(new JS("value"))
		.OnValueChanged("(e) => { setValue(e.value); }")
		.Placeholder(PersianDateTime.Now.ToShortDateString())
		.Mask("0000-00-00")
		.UseMaskedValue(true)
		)
}

@*@section Style
	{
		<link rel="stylesheet" href="~/persianDate/persian-datepicker.min.css" />
	}

	@section Script
	{
		<script src="~/persianDate/persian-date.min.js"></script>
		<script src="~/persianDate/persian-datepicker.min.js"></script>
		<script type="text/javascript">
			$("#employmentDatePicker").persianDatepicker({ ...pDatepickerSetting, altField: "#employmentDateInput" });
			let pDatepickerSetting = {
				inline: false,
				format: "YYYY/MM/DD",
				viewMode: "day",
				initialValue: true,
				autoClose: true,
				position: "auto",
				altFormat: "YYYY/MM/DD",
				//altField: "#altField",
				onlyTimePicker: false,
				onlySelectOnDate: true,
				calendarType: "persian",
				observer: true,
				calendar: {
					persian: {
						locale: "en",
						showHint: true,
						leapYearMode: "algorithmic"
					},
					gregorian: {
						locale: "en",
						showHint: true
					}
				},
				timePicker: {
					enabled: false
				},
				responsive: true
			};
		</script>
	}*@