@using Evaluation.Models.ViewModels
<h2>بخش</h2>

@(Html.DevExtreme().DataGrid<SectionViewModel>()
	.ShowBorders(true)
	.RtlEnabled(true)
	.RowAlternationEnabled(true)
	.NoDataText("بدون اطلاعات")
	.Editing(e =>
	{
		e.Mode(GridEditMode.Row);
		e.AllowAdding(true);
		e.AllowUpdating(true);
		e.AllowDeleting(true);
		e.Popup(p =>
		{
			p.RtlEnabled(true);
			p.CloseOnOutsideClick(true);
		});

		e.Texts(t =>
		{
			t.DeleteRow("حذف");
			t.EditRow("تغییر");
			t.AddRow("اضافه کردن");
			t.SaveRowChanges("ثبت");
			t.CancelRowChanges("انصراف");
			t.ConfirmDeleteMessage("این رکورد حذف شود؟");
		});
	})
	.Sorting(s =>
	{
		s.AscendingText("مرتب کردن سعودی");
		s.DescendingText("مرتب کردن نزولی");
		s.ClearText("حذف مرتب کردن");
	})
	.DataSource(d => d.Mvc().Controller("Sections")
		.LoadAction("Get")
		.InsertAction("Insert")
		.UpdateAction("Update")
		.DeleteAction("Delete")
		.Key("Id"))
	.Columns(columns =>
	{
		columns.AddFor(m => m.Title).Caption("عنوان");
		columns.AddFor(m => m.CenterId).Caption("مرکز")
			.Lookup(lookup=>
				lookup.DataSource(d=>d.Mvc().Controller("Centers").LoadAction("Get").Key("Id"))
					.DisplayExpr("Title")
					.ValueExpr("Id")
				);
	})
	)